.all-articles__head-text {
	margin-top: 60px;
	margin-bottom: 80px;
}

.all-articles__btn-wrap {
	margin-top: 60px;
	padding-bottom: 60px;
	display: flex;
	justify-content: center;
}

.all-articles__more-articles-btn {
	flex-basis: 410px;
}