.article__line {
	display: flex;
	justify-content: space-between;
}

.article__line:not(:first-child) {
	margin-top: 80px;
}

.article__card {
	box-sizing: border-box;
	position: relative;
	flex-basis: 33.3%;

	border-radius: 20px;
}

.article__card:not(:last-child) {
	margin-right: 25px;
}

.article__img {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	width: 100%;
}

.article__inner {
	display: flex;
	justify-content: space-between;
	margin-top: -5px;
	padding: 19px 15px 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.article__inner-big {
	margin-top: -5px;
	padding: 19px 15px 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: 3px solid black;
	border-left: 3px solid black;
	border-right: 3px solid black;
}

.article__name-and-link {
	display: flex;
	justify-content: space-between;
}

.article__name-article {
	font-weight: 700;
	font-size: 13px;
	line-height: 16px;
	margin-right: 20px;
}

/* .article__link {
	transition: 0.3s transform;
}

.article__link:hover {
	transform: translateX(8px);
} */

.article__answer {
	margin-top: 20px;
	font-size: 13px;
	color: var(--grey-color);
}

