.commenting__wrap {
	max-width: 1010px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.comment:not(:first-child) {
	margin-top: 60px;
}

.comment__info-user-date-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment__info-user {
	display: flex;
	align-items: center;
}

.comment__picture {
	border-radius: 100%;
	background-color: var(--grey-color-disable);
	width: 60px;
	height: 60px;
	margin-right: 15px;
	position: relative;
}

.comment__online-track {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background-color: var(--black-color);
}

.comment__user-name {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
}

.comment__user-town {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
}

.comment__user-role {
	margin-top: 8px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: var(--grey-color-disable);
}

.comment__date {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	color: var(--grey-color-disable);
}

.comment__answer-text {
	margin-top: 25px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
}