@import url('./fonts.css');

* {
	margin: 0;
	padding: 0;
}

:root {
	--black-color: black;

	--grey-color: #A0A0A0;
	--grey-color-disable: #C4C4C4;
	--grey-color-text-card: #474747;

	--white-color: #fff;
	--white-color-muted: #f3f2f2;
}

h1 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 800;
	font-size: 60px;
	line-height: 80px;
	line-height: 150%;
}

h4 {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
}

p {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
}

.wrapper {
	max-width: 1150px;
	padding: 0 15px;
	margin: 0 auto;
}

.menu-link {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 19px;
}

.search-text {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 100%;
}


.stars-text {
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
}