.error__layout {
	margin-top: 80px;
}

.error__wrapper {
	display: flex;
	justify-content: center;
	padding: 60px 0;
	border-radius: 10px;
	border: 1px solid var(--black-color);
	margin-bottom: 140px;
}

.error__text-error {
	font-size: 24px;
	line-height: 50px;
	text-align: center;
}

.error__link-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
}

.error__link {
	border: 1px solid black;
	padding: 15px 40px;
	text-decoration: none;
	background-color: var(--black-color);
	color: var(--white-color);
	border-radius: 10px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	transition: 0.6s background, 0.6s color;
}

.error__link:hover {
	background-color: var(--white-color);
	color: var(--black-color);
}