.error-search__wrapper {
	display: flex;
	justify-content: center;
	padding: 60px 0;
	border-radius: 10px;
	border: 1px solid var(--black-color);
	margin-bottom: 140px;
}

.error-search__text-error {
	font-size: 24px;
	line-height: 50px;
	text-align: center;
}