/* rubik-300 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rubik-v20-cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-300.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-regular - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v20-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-500 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v20-cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-500.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-600 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/rubik-v20-cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-600.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-700 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-v20-cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-700.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-800 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/rubik-v20-cyrillic-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-800.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-900 - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/rubik-v20-cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-900.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-300italic - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/rubik-v20-cyrillic-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-300italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-300italic.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-italic - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/rubik-v20-cyrillic-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-italic.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-500italic - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/rubik-v20-cyrillic-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-500italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-500italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-500italic.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-600italic - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/rubik-v20-cyrillic-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-600italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-600italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-600italic.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-700italic - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/rubik-v20-cyrillic-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-700italic.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-800italic - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/rubik-v20-cyrillic-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-800italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-800italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-800italic.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-900italic - cyrillic */
@font-face {
  font-family: 'Rubik';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/rubik-v20-cyrillic-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/rubik-v20-cyrillic-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/rubik-v20-cyrillic-900italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-900italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/rubik-v20-cyrillic-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/rubik-v20-cyrillic-900italic.svg#Rubik') format('svg'); /* Legacy iOS */
}

/* manrope-200 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/manrope-v12-cyrillic-200.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope-v12-cyrillic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope-v12-cyrillic-200.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-200.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-200.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope-v12-cyrillic-200.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-300 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/manrope-v12-cyrillic-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope-v12-cyrillic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope-v12-cyrillic-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope-v12-cyrillic-300.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-500 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/manrope-v12-cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope-v12-cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope-v12-cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope-v12-cyrillic-500.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-600 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/manrope-v12-cyrillic-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope-v12-cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope-v12-cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope-v12-cyrillic-600.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-regular - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/manrope-v12-cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope-v12-cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope-v12-cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope-v12-cyrillic-regular.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-700 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/manrope-v12-cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope-v12-cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope-v12-cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope-v12-cyrillic-700.svg#Manrope') format('svg'); /* Legacy iOS */
}
/* manrope-800 - cyrillic */
@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/manrope-v12-cyrillic-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/manrope-v12-cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/manrope-v12-cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/manrope-v12-cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/manrope-v12-cyrillic-800.svg#Manrope') format('svg'); /* Legacy iOS */
}