.header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 30px;
}

.header__link {
	display: inline-block;
	text-decoration: none;
	border: none;
	color: var(--black-color);
}

.header__link::after {
	content: '';
	width: 0px;
	height: 1px;
	display: block;
	background: black;
	transition: 300ms;
}

.header__link:hover::after {
	width: 100%;
}

.header__link._active::after {
	content: '';
	width: 100%;
	height: 1px;
	display: block;
	background: black;
}

.header__btn-cart {
	border: none;
	background-color: transparent;
	margin-right: 25px;
	cursor: pointer;
}

.header__btn-profile {
	border: none;
	background-color: transparent;
	cursor: pointer;
}