.login {
	display: none;
}

.login._active {
	display: block;
}

.login__shadow {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--black-shadow);
	z-index: 1000;
}

.login__wrap {
	max-width: 450px;
	width: 100%;
	position: relative;
	background-color: var(--white-color);
}

.login__exit-wrap {
	position: absolute;
	top: 25px;
	right: 20px;
}

.login__inner {
	padding: 10px 20px 20px;
}

.login__head-text {
	text-align: center;
	margin-bottom: 25px;
}

.login__input-wrap:first-child {
	margin-bottom: 20px;
}

.login__input {
	width: 100%;
	margin-bottom: 10px;
}

.login__error-email-text:after {
	opacity: 0;
	content: 'text';
}

.error-text.login__error-email-text:after {
	display: none;
}

.login__input.input-error {
	border-bottom: 4px solid var(--red-color-error);
}

.login__btn-wrap {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}