.preferences__wrap {
	margin-top: 50px;

}

.preferences__welcome-text {
	margin-bottom: 35px;
	font-family: 'Manrope';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
}


.preferences__pref-wrap-text:not(:last-child) {
	margin-bottom: 15px;
}

.preferences__pref-title,
.preferences__pref-info {
	font-size: 20px;
}

.preferences__pref-info {
	color: var(--grey-form-color);
}