.product__wrap {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.product__desc {
	margin-top: 20px;
	font-size: 20px;
	line-height: 120%;
}

.product__tools {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
}

.coffee-cards__selected-list {
	/* product */
	max-width: 240px;
	min-width: 200px;
	margin-right: 20px;
	flex-basis: 140px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	position: relative;
	padding: 10px;
	border-radius: 20px;
	border: 1px solid var(--black-color);
}

.coffee-cards__selected-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 10px;
}

.coffee-cards__choice-list-wrap {
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	padding: 10px;
	width: 250px;
	background-color: var(--white-color);
	border: 1px solid var(--black-color);
	border-radius: 10px;
}

.coffee-cards__choice-list-wrap._active {
	display: block;
}

.coffee-cards__choice {
	cursor: pointer;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	padding: 2px 2px 2px 10px;
	margin-bottom: 5px;
	transition: background 0.3s, color 0.3s;
}

.coffee-cards__choice:hover {
	color: var(--white-color);
	background-color: var(--black-color);
}

.coffee-cards__choice span {
	transition: transform 0.3s;
}

.coffee-cards__choice:hover span {
	display: inline-block;
	transform: translateX(5px);
}

.coffee-cards__characteristic {

	flex-basis: 50%;
	position: relative;
	z-index: 1;
}

.coffee-cards__coffee-img {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
}

.coffee-cards__coffee-img img {
	max-width: 180px;
	object-fit: contain;
}

.coffee-cards__characteristic-progress {
	position: relative;
	width: 100%;
	height: 5px;
}

.coffee-cards__characteristic-progress-total {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--grey-color);
}

.coffee-cards__characteristic-progress-current {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 60%;
	background-color: var(--black-color);
}

.coffee-cards__characteristic-desc {
	margin-top: 8px;
	margin-bottom: 5px;
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: var(--grey-color);
}

.product__tabs-wrap {
	margin-top: 40px;
}


.coffee-cards__tabs-wrap {
	flex-basis: 55%;
	display: flex;
	/* product */
	align-items: center;
}

.coffee-cards__btn-add {
	flex-basis: 35%;
}

.coffee-cards__tab {
	cursor: pointer;
	padding: 10px 15px;
	border: 1px solid var(--grey-color-disable);
	border-radius: 10px;
}

.coffee-cards__tab:hover {
	background-color: var(--white-color-muted);
}

.coffee-cards__tab:first-child {
	margin-right: 10px;
}

.coffee-cards__tab._active {
	background-color: var(--white-color-muted);
}

.coffee-cards__weight {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: var(--grey-color-disable);
}

.coffee-cards__price {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
}

.product__like-wrap {
	margin-left: 30px;
}

.product__like-img-active {
	display: none;
}

.product__btn {
	cursor: pointer;
	margin-top: 30px;
	border: 2px solid var(--black-color);
	background-color: transparent;
	padding: 15px 45px;
	border-radius: 20px;
	font-family: 'Rubik';
	font-size: 16px;
	font-weight: 500;
	transition: 0.6s background, 0.6s color;
}

.product__btn:hover {
	background-color: var(--black-color);
	color: var(--white-color);
}