.welcome-block {
	position: relative;
	height: 748px;
}

.welcome-block__head-text {
	margin-bottom: 60px;
}

.welcome-block__desc {
	font-size: 20px;
}

.welcome-block__img {
	z-index: -1;
	position: absolute;
	bottom: 0;
	right: 0;
}

